.vscode/launch.json
.vscode/sftp.json
# 忽略搭建nodejs过程中产生的两个文件夹
/node_modules/
/scratch/
# 忽略本地历史
.history/
# 忽略resilio sync备份
.sync/
# 隐藏试题
/puzzles/[0-9][0-9][0-9].yml
/puzzles/*EX.yml
/puzzles/*PH.yml
/puzzles/*u.yml
/puzzles/*a.yml
/puzzles/*copy.yml
/puzzles/reveal/*.mp3
/puzzles/reveal/*.wav
/puzzles/.sync/*
/puzzles/.history/*
# 忽略编译后的文件
/build
/dist
#include 001.yml
!/puzzles/001.yml
!/puzzles/reveal/001.mp3